@page "/bindprops"
@using Models 

@*<h1>Hello, world!</h1>

    Welcome to your new app.

    <SurveyPrompt Title="How is Blazor working for you?" />*@

Course=>@course.CourseName
<br />
Price:@course.Price

<input type="number" @bind-value="@course.Price" @bind-value:event="oninput" />

<br />
<input type="checkbox" @bind-value="@course.IsActive" checked="@(course.IsActive?"checked":null)" /> İs active @*burda default degeri ayarladım açılışta degerin gelişine göre seçili olup olmaması gelecek*@
<br />
<span>This course is @(course.IsActive?"Active":"In active")</span>
<br />
<select @bind="defaultSelectValue">
    @foreach(var drop in drops)
            {
                <option value="@drop.Name">@drop.Name</option>
            }
</select>
<br />
<span>Selected course name: @defaultSelectValue </span>


@code {

    string defaultSelectValue = "Microservice";

    List<DropdownProps> drops = new List<DropdownProps>()
    {
        new DropdownProps{Id=1,Name="E-Commerce",Value="30"},
        new DropdownProps{Id=2,Name="Microservice",Value="40"},
        new DropdownProps{Id=3,Name="Social Media",Value="50"},
        new DropdownProps{Id=4,Name="Depencey Injection",Value="60"}
    };

    Models.CourseTraining course = new Models.CourseTraining()
    {
        Id = 1,
        CourseName = "Blazor e-commerce",
        IsActive = true,
        Price = 20
    };
}
